<html data-theme='light'>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta charset='utf-8' />
        <link rel='icon' type='image/x-icon' href='favicon.ico' />
        <link rel='stylesheet' href='/css/style.css' />
        <script src='https://unpkg.com/dayjs@1.8.21/dayjs.min.js'></script>
        <title>MITDC: RTO Check-In</title>
    </head>
    <body>

        {{{body}}}

    </body>
</html>